body {
	width: 1040px;
	height: 800px;
}

.playArea {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	line-height: 0.1;
}

.gridBlock {
	display:inline-flex;
	width: 80px;
	height: 80px;

	box-sizing: border-box;
	border: 1px solid blue;
}


.gridBlock.snake {
	background-color: black;
}

.gridBlock.apple {
	background-color: red;
}