@font-face {
	font-family: Octicons;
	/*src: url('../octicons.ttf') format('truetype');	왜때문에인지 에러가...*/
	src: url('./octicons.ttf') format('truetype');
}

* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	
}

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
}

body {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	margin: auto;
	font-family: Helvetica;
}

/* TODO: 또 어떤 코드들이 들어가야 할까요? */

nav ul {
	padding-left: 0;
}

nav li {
	display: inline-block;
}

.octicons {
	font-family: Octicons;
	font-size: 32px;

	vertical-align: middle;
}

header {
	height: 56px;
	background-color: #F5F5F5;
	width: 100%;
}

header * {
	display: inline-block;
}

header form.header{
	border : 1px solid #D6D6D6;
	width: 360px;
	height: 26px;
	background-color: white;
	border-radius: 5px
}

header form.header .search-label{
	height: 20px;
	background-color: #EEEEEE;
	font-size: 11px;
	font-color: #989898;
	line-height: 20px;
	vertical-align: middle;
	padding: 0 5px 0 5px;
	margin: 3px 3px;
}

header form.header > input{
	width: 269px;
	height: 22px;
	border: none;
}

header > nav.header {
	vertical-align: middle;
}

header nav.header ul{
	margin: auto;
/*	display: flex;
	justify-content: space-between;*/
}

header nav.header li {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;

	line-height: 56px;
	vertical-align: middle;
}

header div.header-buttons {
	/*float:right;*/
	margin-left: 100px;
	height: 56px;
	line-height: 56px;
}

header button{
	height: 34px;

	vertical-align: middle;
	font-size: 12px;
	font-weight: 500;

	border-radius: 3px;
	
	padding: 0 13px 0 13px;
	margin-right: 5px;
}

header button.sign-up {
	/*background-color: #89DB6C;*/
	background-image: linear-gradient(to bottom, #89DB6C, #69B050);
	border: 1px solid #69B050;
	color: white;
}

header button.sign-in {
	/*background-color: #EEEEEE;*/
	background-image: linear-gradient(to bottom, #FAFAFA, #EEEEEE);
	border: 1px solid #DDDDDD;
}

section {
	
}

section.main-header {
	border: 1px solid black;
	height: 70px;
}

section.main-header div{
	display: inline-block;
	line-height: 70px;
	vertical-align: middle;
}

.main-detail div {
	display: inline-block;
	width: 816px;
}

.main-detail aside {
	display: inline-block;
	width: 170px;
}

footer {
	height: 76px;
	position: fixed;
	bottom: 0;
	width: 100%;

	background-color: #F5F5F5;
}

footer *{
	display: inline-block;
}
