* {
	/* TODO: 필요한 CSS를 채워넣어 보세요! */
	font-size: 1em;
}

.textArea{
	box-sizing: border-box;
	position: absolute;
	left: 10px;
	width: calc(100% - 350px);
	border : 1px solid blue;
	padding: 10px;
}

.fileBody{
	width: 90%;
	height: 6em;
}


.fileListArea{
	position: absolute;
	right: 10px;
	width: 300px;
	border: 1px solid black;
}

.selected{
	background-color: yellow;
}