* {
	/* TODO: 필요한 CSS를 채워넣어 보세요! */
	font-size: 1em;
}

.fileTabContainer{
	border: 1px solid blue;
	width: calc(100% - 350px);
	height: 50px;
	padding: auto;
}

.fileTab {
	display: inline-block;
	width: 80px;
	height: 40px;
	border: 1px solid grey;
	margin: auto 10px auto 10px;
}

.textArea{
	box-sizing: border-box;
	position: absolute;
	left: 10px;
	width: calc(100% - 350px);
	border : 1px solid blue;
	padding: 10px;
}

.fileBody{
	width: 90%;
	height: 6em;
}


.fileListArea{
	position: absolute;
	right: 10px;
	top: 0px;
	width: 300px;
	border: 1px solid black;
}

.selected{
	background-color: yellow;
}